                                    /* Default Page Components */
* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(54, 54, 54);
    margin: 0;
}

button {
    cursor: pointer;
}
                                    /* Options Box Components */
#optionsBox {
    width: 25%;
    height: 50%;
    left: 75%;
    top: 0;
    position: absolute;
    display: block;
}

#restart {
    width: 75%;
    height: 25%;
    left: 12.5%;
    font-size: 3vmin;
}
                                    /* Party List Components */
#partyList {
    width: 25%;
    height: 100%;
    left: 0;
    bottom: 0;
    display: block;
    position: absolute;
}

.partyMemberContainer {
    width: 100%;
    height: 8%;
    left: 0;
    bottom: 0;
    position: relative;
    display: grid;
    grid-template-columns: fit-content(1%) auto;
    grid-template-rows: 50% 50%;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
}

.partyMemberContainer img {
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    aspect-ratio: 1 / 1;
}

.partyMemberContainer .progressBar,
.partyMemberContainer .progressBarLabel,
.partyMemberContainer .progressBarBackground {
    height: 100%;
    width: 100%;
    left: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: absolute;
    text-align: center;
    font-size: 3vmin;
}

.partyMemberContainer .partyName {
    height: 100%;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 3vmin;
}
                                    /* Text Box Components */
#textBox {
    width: 50%;
    height: 50%;
    position: relative;
    margin: auto;

    background-color: black;
}

#text {
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 2vmin;

    margin: 0% 5% 5% 5%;
    color: white;
}
                                    /* Picture Box Components */
#pictureBox {
    width: 50%;
    height: 30%;
    position: relative;
    margin: auto;

    box-sizing: border-box;
    border: 1px solid black;
    border-bottom: 0;
    background-color: grey;
}
                                    /* Battle Display Components */
#battleDisplay {
    width: 100%;
    height: 100%;
    position: absolute;

    display: grid;
    grid-template-columns: 5% fit-content(1%) 5% auto 5% fit-content(1%) 5%;
    grid-template-rows: 15% 15% 25% 25% auto;
}

#currentFighterName {grid-column: 1 / 5; grid-row: 1 / 2; text-align: left; margin-left: 1%;}
#currentFighterDesc {grid-column: 1 / 5; grid-row: 2 / 3; text-align: left; margin-left: 1%;}
#currentFighterPicture {grid-column: 2 / 3; grid-row: 3 / 5;}
#currentFighterBarBackground, #currentFighterBar,
#currentFighterBarLabel {grid-column: 3 / 5; grid-row: 3 / 4; 
    height: 50%; width: 100%; position: absolute; top: 3px; left: 0;}

#currentEnemyName {grid-column: 4 / 8; grid-row: 1 / 2; text-align: right; margin-right: 1%;}
#currentEnemyDesc {grid-column: 4 / 8; grid-row: 2 / 3; text-align: right; margin-right: 1%;}
#currentEnemyPicture {grid-column: 6 / 7; grid-row: 3 / 5;}
#currentEnemyBarBackground, #currentEnemyBar,
#currentEnemyBarLabel {grid-column: 4 / 6; grid-row: 4 / 5; 
    height: 50%; width: 100%; position: absolute; bottom: 3px; right: 0;}

#currentFighterBarBackground {
    outline: 3px solid black;
}

#currentEnemyBarBackground {
    outline: 3px solid black;
}

#battleDisplay .progressBarLabel {
    text-align: center;
    font-size: 3vmin;
}

.battleName {
    display: block;
    text-align: center;
    font-size: 3vmin;
}

.battleDesc {
    display: block;
    text-align: center;
    font-size: 2vmin;
}

.battlePicture {
    height: 100%;
    aspect-ratio: 1 / 1;

    box-sizing: border-box;
    border: 3px solid black;
}
                                    /* Area Select Display Components */
#areaSelectDisplay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.areaPicture {
    width: 30%;
    aspect-ratio: 1 / 1;
    display: inline-block;
    margin: auto;

    box-sizing: border-box;
    border: 3px solid black;
}
                                    /* Button Box Components */
#buttonBox {
    width: 50%;
    height: 20%;
    position: relative;
    margin: auto;
    bottom: 0;

    box-sizing: border-box;
    border: 1px solid black;
    background-color: lightgrey;
}
                                    /* Name Entry Components */
#nameEntryContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.nameEntry {
    position: absolute;
    display: block;
    text-align: center;
}

label.nameEntry {
    width: 100%;
    top: 5%;
    bottom: 0;
    font-size: 3vmin;
}

input.nameEntry {
    width: 60%;
    height: 30%;
    bottom: 35%;
    left: 20%;
    margin: auto;
    font-size: 4vmin;
    background-color: white;
}

button.nameEntry {
    width: 40%;
    height: 20%;
    bottom: 5%;
    left: 30%;
    font-size: 3vmin;
}
                                    /* Area Select Button Components */
#areaSelectButtonContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

button.areaSelect {
    width: 30%;
    height: 50%;
    display: inline-block;
    margin: auto;
}
                                    /* Battle Button Components */
#battleButtonContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 50% auto;
}

.attack {
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 2vmin;
}

label.attack {
    padding: 1%;
}

#attack1button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#attack2button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#attack1label {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#attack2label {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}