                                    /* Default Page Components */
* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(54, 54, 54);
    margin: 0;
}

button {
    cursor: pointer;
}
                                    /* Options Box Components */
#optionsBox {
    width: 25%;
    height: 50%;
    left: 75%;
    top: 0;
    position: absolute;
    display: block;
}

#restart {
    width: 25%;
    height: 25%;
    position: absolute;
}
                                    /* Party List Components */
#partyList {
    width: 25%;
    height: 100%;
    left: 0;
    bottom: 0;
    display: block;
    position: absolute;
}

.partyMemberContainer {
    width: 100%;
    height: 8%;
    left: 0;
    bottom: 0;
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    position: relative;
    background-color: white;
    border: 1px solid black;
}

.partyMemberContainer img {
    height: 100%;
    left: 0;
    top: 0;
    aspect-ratio: 1 / 1;
    position: absolute;
    
}

.partyMemberContainer progress {
    width: 80%;
    height: 50%;
    left: 20%;
    top: 0;
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
}

.partyMemberContainer label {
    width: 68%;
    height: 75%;
    left: 32%;
    bottom: 0;
    position: absolute;
}
                                    /* Text Box Components */
#textBox {
    width: 50%;
    height: 50%;
    position: relative;
    margin: auto;

    background-color: black;
}

#text {
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 2vmin;

    margin: 0% 5% 5% 5%;
    color: white;
}
                                    /* Picture Box Components */
#pictureBox {
    width: 50%;
    height: 30%;
    position: relative;
    margin: auto;

    background-color: grey;
}

#pictures {
    width: 100%;
    height: 100%;
    position: absolute;
}
                                    /* Button Box Components */
#buttonBox {
    width: 50%;
    height: 20%;
    position: relative;
    margin: auto;
    bottom: 0;

    background-color: lightgrey;
}
                                    /* Name Entry Components */
#nameEntryContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.nameEntry {
    position: absolute;
    display: block;
    text-align: center;
}

label.nameEntry {
    width: 100%;
    top: 5%;
    bottom: 0;
    font-size: 3vmin;
}

input.nameEntry {
    width: 60%;
    height: 30%;
    bottom: 35%;
    left: 20%;
    margin: auto;
    font-size: 4vmin;
    background-color: white;
}

button.nameEntry {
    width: 40%;
    height: 20%;
    bottom: 5%;
    left: 30%;
    font-size: 3vmin;
}
                                    /* Area Select Button Components */
#areaSelectButtonContainer {
    width: 100%;
    height: 80%;
    top: 20%;
    position: absolute;
    text-align: center;
}

button.areaSelect {
    width: 30%;
    height: 50%;
    display: inline-block;
}
                                    /* Battle Button Components */
#battleButtonContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 50% auto;
}

.attack {
    border: 1px solid black;
    font-size: 2vmin;
}

label.attack {
    padding: 1%;
}

#attack1button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#attack2button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#attack1label {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#attack2label {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}